
= content_for(:title, @resource.model_name.pluralize.humanize)
= content_for(:description, '')

= box do
  = box_body do
    = datagrid(@grid)
  = box_footer do
    .pull-right
      = link_to("Create #{@resource.model_name.humanize}", new_path, class: 'btn btn-primary')
