= content_for(:title, resource_label('index', 'title'))
= content_for(:description, resource_label('index', 'description'))

= box do
  = box_body do
    = datagrid(@grid)
  = box_footer do
    .pull-right
      = link_to(resource_label('index', 'create'), new_path, class: 'btn btn-primary')
