= content_for(:title, resource_label('index', 'title'))
= content_for(:description, resource_label('index', 'description'))

= datagrid_form_for(@grid, url: request.original_url) if @grid.filters.count > 0

= box do
  = box_body do
    = datagrid(@grid)
  = box_footer do
    .pull-right

      = link_to(grid_label('export', 'label'), index_path(:csv), class: 'btn btn-info')
      = link_to(resource_label('index', 'create'), new_path, class: 'btn btn-primary')
