= content_for(:title, resource_label('show', 'title'))
= content_for(:description, resource_label('show', 'description'))

= box do
  = box_body do
    %table.table
      - @attributes.each do |attribute|
        %tr
          %td.show_key= attribute.name.humanize
          %td.show_value= @record[attribute.name]
