%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in"
= render "devise/shared/links"

.login-box
  .login-logo
    %a{:href => "../../index2.html"}
      %b> Admin
      LTE
  .login-box-body
    %p.login-box-msg Sign in to start your session
    %form{:action => "../../index2.html", :method => "post"}
      .form-group.has-feedback
        %input.form-control{:placeholder => "Email", :type => "email"}
          %span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        %input.form-control{:placeholder => "Password", :type => "password"}
          %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8
          .checkbox.icheck
            %label
              %input{:type => "checkbox"}
                Remember Me
        .col-xs-4
          %button.btn.btn-primary.btn-block.btn-flat{:type => "submit"} Sign In
    %a{:href => "#"} I forgot my password
    %br
      %a.text-center{:href => "register.html"} Register a new membership
