.login-box
  .login-logo
    = Admin4rails.header.logo.text.html_safe
  .login-box-body
    %p.login-box-msg= t('login.message')
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = render partial: 'layouts/admin4rails/devise_messages'
      .form-group.has-feedback
        = f.input_field :email, class: 'form-control', placeholder: 'Email', type: 'email'
        %span.add-on>
          .glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.input_field :password, class: 'form-control', placeholder: 'Password', type: 'password'
        %span.add-on>
          .glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8
          - if devise_mapping.rememberable?
            = f.input :remember_me, inline_label: t('login.remember_me'), as: :boolean
        .col-xs-4
          = f.submit t('login.button'), class: 'btn btn-primary btn-block btn-flat'
    /= render "devise/shared/links"
